

/*the color of the body of the page*/
body {
    background-color: #f0f1f1;
}


/*the details of the header*/
header {
    background-color: #0a3c43;
    color: #b79f91;
    padding:10px;
    text-align: center;
   display: flex;
}


/*welcome to the home page text*/
h1 {
    font-size: 40px; 
    padding: 0px 30px;
}


/*start of the NAVBAR*/
/*space in between the different catergories in the nav bar*/
ul {
    padding: 0px 150px;
}

/*positioning on the nav bar*/
li {
    display: inline-block;
    padding: 20px 20px;  
}

/*when mouse hover over the text nav bar*/
.nav:hover{
color:#f0f1f1
}

/*nav text color*/
a {
    color:#b79f91
}



/*start of the ABOUT ME*/
/*giving the command to be flex*/
.flex-container {
    display: flex;
}

/*flex container*/
.main {
    flex: 2px;
    margin-top: 50px;
    padding:20px;
    border: groove;  
    width: 40x;
    height: 360px;
    text-align: center;
}



/*profile pic*/
img.profile {
    display: inline-flex;
  margin-top: 0px;
  padding-left: 160px;
  padding-right: 40px;
  margin-top: 55px;
}





/*start of the work page*/
/*about me padding*/
h2 {
    padding-left: 0;
}

h2.title {
    text-align: center;
    padding-top: 10px;
}

/*this is the work section*/

article.work{
    text-align: center;
    border: groove;
    position: relative;
    height: 650px;
}

.image1 {
    position: absolute;
    left: 60px;
    top: 150px;
}

.image2 {
    position:absolute;
    left: 405px;
    top:150px
}

.image3 {
    position: absolute;
    bottom: 100px;
    left: 400px;
}

.image4 {
    position: absolute;
    top: 150px;
    right: 90px;
}

.image5 {
    position: absolute;
    right: 405px;
    top: 150px;
}




/*this is the start of the contact page*/

ul.list{
    text-align: center;
    border-style: groove;
}



/*text color of the link*/
.text {
    color:black
}
/*text color when hovered over*/
.text:hover {
    color:#b79f91
}






/*footer*/
footer {
    background-color: #0a3c43;
    height: 30px; 
}


/*this is the footer*/
span {
    color: #b79f91;
    padding: 0px 400px;
    margin: 30px;
}
